.main-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra gli elementi orizzontalmente */
    width: 100%;
}

#profile-info input, #profile-info select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.save-btn:hover {
    background-color: #45a049;
}

input, select {
    background-color: #444; /* Cambia il colore del testo degli input */
    color: white;
    border: 1px solid #ccc; /* Un bordo di esempio per contrasto */
    padding: 10px; /* Spaziatura interna */
    font-size: 16px; /* Dimensione del testo */
    border-radius: 4px; /* Arrotonda i bordi se preferisci */
}

input::placeholder {
    color: #888; /* Colore del testo del placeholder */
}