/* File style_future.css */

/* Stile per il contenitore principale */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra gli elementi orizzontalmente */
    width: 100%;
}

/* Stile per il titolo */
.main-content h2 {
    align-self: flex-start; /* Posiziona il titolo in alto a sinistra */
    margin-left: 20px; /* Margine a sinistra per allontanare il titolo dal bordo */
}

/* Stile per la lista di sessioni future */
.session-list {
    padding: 20px;
    margin: 20px auto; /* Margine verticale per separare dal titolo */
    max-width: 800px;
    width: 100%; /* Assicura che la lista occupi il 100% della larghezza disponibile */
    max-height: 500px; /* Limita l'altezza della lista */
    overflow-y: auto; /* Aggiunge la barra di scorrimento verticale */
    border-radius: 8px; /* Aggiunge angoli arrotondati */
}

/* Stile per ogni sessione */
.session-item {
    background-color: #444;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    transition: background-color 0.3s, transform 0.2s; /* Transizione per il colore di sfondo e la trasformazione */
}

/* Stile per il nome della sessione */
.session-item h3 {
    color: #28a745;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Stile per la lista degli esercizi */
.session-item ul {
    list-style-type: none;
    padding: 0;
}

/* Stile per ogni esercizio */
.session-item li {
    padding: 5px 0;
}

/* Effetto hover per le sessioni */
.session-item:hover {
    background-color: #515050; /* Cambia il colore di sfondo */
    color: #fff; /* Cambia il colore del testo */
    transform: scale(1.02); /* Leggera ingrandimento dell'elemento */
}

/* Stile per la scrollbar personalizzata */
.session-list::-webkit-scrollbar {
    width: 10px;
}

.session-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.session-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}