.session-form {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.session-form label {
    color: #f5f5f5;
}

.session-form input,
.session-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #f5f5f5;
}

.session-form button {
    background-color: #ff5733;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.session-form button:hover {
    background-color: #e14a2a;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.calendar {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

/* Stili per la lista della sessione */
#sessionList {
    margin-top: 15px;
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 10px;
    max-height: 200px; /* Set a maximum height */
    overflow-y: auto; /* Make it scrollable */
}

.session-item {
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex; /* Usa flexbox per disporre gli elementi */
    justify-content: space-between; /* Spazia il contenuto tra i lati */
    align-items: center; /* Allinea verticalmente al centro */
}

@media (max-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Optional: Adjust the height for smaller screens */
    #sessionList {
        max-height: 200px; /* Smaller max height on mobile */
    }

    
}