.timer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#details {
    margin-top: 20px;
    text-align: left;
    font-size: 1em;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#details p {
    margin: 10px;
}

select,
input {
    padding: 10px;
    font-size: 1em;
    margin: 10px 0;
    background-color: #444;
    color: white;
    border-radius: 5px;
}

#resetBtn {
    background-color: #ff4b4b;
}

#resetBtn:hover {
    background-color: #c0392b;
}

#startBtn {
    background-color: #28a745;
}

#startBtn:hover {
    background-color: #218838;
}

#startBtn,
#stopBtn,
#resetBtn {
    border-radius: 5px;
    margin: 10px;
}

#stopBtn {
    background-color: #d79a36;
}

#stopBtn:hover {
    background-color: #b97d1b;
}

#timer {
    font-size: 9em;
    margin: 20px 0;
}