.content-wrapper {
    display: flex;
    flex-wrap: wrap; /* Consente di adattarsi su più righe per schermi piccoli */
    gap: 20px; /* Distanza tra i contenuti */
    padding: 20px;
}

.session-form {
    margin: 20px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.session-form label {
    color: #f5f5f5;
}

.session-form input,
.session-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #f5f5f5;
}

.session-form button {
    background-color: #ff5733;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.session-form button:hover {
    background-color: #e14a2a;
}

/* Stile per ogni sfida */
.challenge-item {
    background-color: #444; /* Colore di sfondo chiaro */
    border: 1px solid #ccc; /* Bordo grigio per ogni sfida */
    border-radius: 5px; /* Raggio per gli angoli */
    margin: 10px 0; /* Margine verticale */
    padding: 15px; /* Padding */
    display: flex; /* Layout flessibile */
    justify-content: space-between; /* Spaziatura uniforme tra gli elementi */
    align-items: center; /* Allineamento verticale */
}

/* Pulsante per eliminare la sfida */
.challenge-item button {
    background-color: #dc3545; /* Colore rosso per il bottone */
    color: white; /* Colore del testo */
    padding: 10px; /* Padding per il bottone */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Raggio per gli angoli */
    cursor: pointer; /* Cursore a mano */
}

/* Hover per il pulsante di eliminazione */
.challenge-item button:hover {
    background-color: #c82333; /* Colore più scuro al passaggio del mouse */
}

.exercise-item {
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    margin-bottom: 5px;
}