.main-content {
    align-items: center; /* Centra gli elementi orizzontalmente */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.session-form {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.session-form label {
    color: #f5f5f5;
}

.session-form input,
.session-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #f5f5f5;
}

.session-form button {
    background-color: #ff5733;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.session-form button:hover {
    background-color: #e14a2a;
}

/* Stili per la lista della sessione */
#sessionList {
    margin-top: 15px;
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 10px;
    max-height: 500px; /* Set a maximum height */
    overflow-y: auto; /* Make it scrollable */
}

.exercise-item {
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex; /* Usa flexbox per disporre gli elementi */
    justify-content: space-between; /* Spazia il contenuto tra i lati */
    align-items: center; /* Allinea verticalmente al centro */
}

@media (max-width: 768px) {
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Optional: Adjust the height for smaller screens */
    #sessionList {
        max-height: 200px; /* Smaller max height on mobile */
    }

    .sfide {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    
}

.challenge-item {
    background-color: #444; /* Colore di sfondo chiaro */
    border: 1px solid #ccc; /* Bordo grigio per ogni sfida */
    border-radius: 5px; /* Raggio per gli angoli */
    margin: 10px 0; /* Margine verticale */
    padding: 15px; /* Padding */
    display: flex; /* Layout flessibile */
    flex-direction: column;
    justify-content: space-between; /* Spaziatura uniforme tra gli elementi */
    align-items: center; /* Allineamento verticale */
}


#challengeList {
    margin-right: 220px;
    width: 100%;
    max-height: 500px; /* Altezza massima della lista */
    overflow-y: auto; /* Abilita lo scorrimento verticale per la lista */
}

/* Pulsante per eliminare la sfida */
.challenge-item button {
    background-color: #dc3545; /* Colore rosso per il bottone */
    color: white; /* Colore del testo */
    padding: 10px; /* Padding per il bottone */
    border: none; /* Nessun bordo */
    border-radius: 5px; /* Raggio per gli angoli */
    cursor: pointer; /* Cursore a mano */
}

/* Hover per il pulsante di eliminazione */
.challenge-item button:hover {
    background-color: #c82333; /* Colore più scuro al passaggio del mouse */
}

.registra-sfida {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.flex-row {
    display: flex;
    /* Imposta il contenitore come flex */
    justify-content: space-between;
    /* Spazia gli elementi uniformemente */
    margin-bottom: 15px;
    /* Aggiunge spazio sotto il contenitore */
}

.flex-item {
    flex: 1;
    /* Permette agli elementi di espandersi per occupare lo spazio disponibile */
    margin-right: 10px;
    /* Aggiunge margine a destra per separare gli input */
}

.flex-item:last-child {
    margin-right: 0;
    /* Rimuove il margine a destra dall'ultimo elemento */
}

.hidden {
    display: none;
}

.edit-form {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.delete-challenge-btn {
    margin-top: 15px;
}