* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #f5f5f5;
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #ff5733;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #444;
}

/* Menu button for mobile */
.menu-btn {
    display: none;
    background: none;
    border: none;
    color: #ff5733;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

/* Dashboard Layout */
.dashboard-container {
    display: flex;
    height: calc(100vh - 80px);
    /* Full height minus header */
}

/* Sidebar */
.sidebar {
    width: 330px;
    ;
    background-color: #2c2c2c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    position: relative;
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(0);
}

/* Sidebar Button Style */
.sidebar-btn {
    background-color: #333;
    color: #f5f5f5;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar-btn:hover {
    background-color: #444;
    transform: scale(1.05);
}

.sidebar-btn i {
    font-size: 20px;
    color: #ff5733;
}

/* Divider Style */
.sidebar-divider {
    height: 2px;
    background-color: #444;
    margin: 15px 0;
}


/* Profile Section */
.profile-section {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    color: #f5f5f5;
}

.profile-section h2 {
    color: #ff5733;
    font-size: 28px;
    margin-bottom: 15px;
}

.profile-section p {
    font-size: 18px;
    line-height: 1.5;
}

.profile-section button {
    margin-top: 20px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-section button:hover {
    background-color: #e14a2a;
}

.overlay {
    display: none;
    /* Nasconde l'overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 800;
    /* Deve essere sopra il contenuto principale ma sotto la sidebar */
}

.overlay.visible {
    display: block;
    /* Mostra l'overlay quando ha la classe 'visible' */
}

#menuButton {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    transition: transform 0.3s;
    z-index: 1000;
}

/* Impostazione della griglia per il main-content */
.main-content {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

/* Stili generali per ogni sezione */
.main-content section {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    color: #f5f5f5;
}

.workout-of-the-day {
    grid-column: 1 / 2;
    /* Left column */
    grid-row: 1 / 2;
    /* First row */
}

.calendar {
    grid-column: 2 / 3;
    /* Right column */
    grid-row: 1 / 2;
    /* First row */
    padding: 10px;
    overflow-y: auto;
    /* Permette lo scroll se il contenuto eccede */
}

.session-item {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.session-item:hover {
    background-color: #515050;
}

.calendar {
    min-height: 200px;
    /* Adjust as necessary */
    width: 100%;
}

.goals-and-progress {
    grid-column: 2 / 3;
    /* Right column */
    grid-row: 2 / 3;
    overflow-y: auto;

    /* Second row */
}

.challenges {
    grid-column: 1 / 2;
    /* Left column */
    grid-row: 2 / 3;
    overflow-y: auto;
    /* Second row */
}


/* Stile per il pulsante nel workout */
.workout-of-the-day button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.workout-of-the-day button:hover {
    background-color: #45a049;
}

/* Stili per progressi */
.goals-and-progress ul,
.workout-of-the-day ul,
.challenges ul,
.calendar ul {
    list-style-type: none;
    padding: 0;
}

.goals-and-progress progress {
    width: 100%;
    margin-top: 4px;
}

/* Stile per i bottoni di partecipazione nelle sfide */
.challenges button {
    margin-top: 5px;
    padding: 8px 12px;
    background-color: #ffa500;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.challenges button:hover {
    background-color: #ff8c00;
}

@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
        /* Single column on smaller screens */
        grid-template-rows: auto;
        display: flex;
        flex-direction: column
            /* Rows adapt to content */
    }

    .workout-of-the-day {
        grid-column: 1;
        /* Full width */
    }

    .calendar {
        grid-column: 1;
        /* Full width */
    }

    .goals-and-progress {
        grid-column: 1;
        /* Full width */
    }

    .challenges {
        grid-column: 1;
        /* Full width */
    }

    .menu-btn {
        display: flex;
        flex-direction: column;
    }

    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        background-color: #2c2c2c;
        transform: translateX(-100%);
        z-index: 900;
        padding-top: 60px;
        overflow-y: auto;
    }

    .sidebar.active {
        transform: translateX(0);
    }
}

.loader {
    display: none;
    border: 4px solid #f3f3f3;
    /* Colore di sfondo */
    border-top: 4px solid #444;
    /* Colore della rotellina */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
    z-index: 1000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add this CSS to style_sessioni_successive.css */
.notification {
    position: fixed;
    top: 20px;
    /* Distance from the top */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    /* Green background */
    color: white;
    /* White text */
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    /* Start invisible */
    transition: opacity 0.5s ease;
    /* Transition effect for fading */
    visibility: hidden;
    /* Initially hidden */
}

.notification.show {
    opacity: 1;
    /* Visible */
    visibility: visible;
    /* Set to visible for interaction */
}

.widget {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #444;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: all 0.35s linear;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}

.widget.expanded {
    width: 90%;
    height: 400px;
    border-radius: 8px;
}

.widget-icon {
    font-size: 24px;
    color: white;
}

/* Nascondi l'icona quando il widget è espanso */
.widget.expanded .widget-icon {
    display: none;
}

.widget-content {
    display: none;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.widget.expanded .widget-content {
    display: block;
    /* height: 400px; */
}

.input-spinner {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.timer-display {
    font-size: 2em;
    color: white;
    margin-bottom: 30px;
    display: none;
}

.timer-controls {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    justify-content: center;
}

.timer-input {
    width: 60px;
    text-align: center;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.btn {
    padding: 5px 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.spinner-container {
    margin: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-btn {
    background-color: #444;
    border: none;
    color: white;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.spinner-btn:focus {
    outline: none;
}

.spinner-btn:hover {
    background-color: #444;
}

#hourValue,
#minuteValue,
#secondValue {
    font-size: 24px;
    margin: 0 10px;
    width: 40px;
    text-align: center;
}

.timer-display {
    font-size: 50px;
    font-weight: bold;
    /* margin: 20px 0; */
    text-align: center;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #444;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

button:focus {
    outline: none;
}

#hourSpinner, #minuteSpinner, #secondSpinner {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    /* Miglioramenti solo per la modalità desktop */
    .widget {
        width: 80px; /* Aumenta la dimensione del widget per desktop */
        height: 80px; /* Aumenta la dimensione del widget per desktop */
        bottom: 30px; /* Sposta leggermente il widget in basso */
        right: 30px; /* Sposta leggermente il widget a destra */
    }

    .widget.expanded {
        width: 25%; /* Riduci la larghezza quando espanso per una visualizzazione migliore su desktop */
        height: 600px; /* Aumenta l'altezza per maggiore spazio */
    }

    .timer-display {
        font-size: 3em; /* Aumenta la dimensione del font per il display del timer */
    }

    .timer-input {
        width: 70px; /* Aumenta la larghezza degli input del timer */
        font-size: 1.2em; /* Aumenta la dimensione del font per una migliore leggibilità */
    }

    .spinner-btn {
        font-size: 40px; /* Riduci leggermente la dimensione del pulsante spinner */
    }

    .btn {
        font-size: 18px; /* Riduci la dimensione del font dei pulsanti */
        padding: 10px 25px; /* Aggiusta il padding dei pulsanti */
    }
}